@page "/courses/create"
<div class="row">
    <div class="col-lg-9">
        <h2>Create</h2>
    </div>
    <div class="col-lg-3 text-right">
        <a href="/courses" role="button" class="btn btn-secondary btn-sm">
            Back To
            List
        </a>
    </div>
</div>
@if (Course != null)
{
    <EditForm Model="@Course" OnValidSubmit="@SubmitCourse">
        <div class="form-group">
            <label>Name</label>
            <InputText class="form-control" @bind-Value="Course.Name" />
        </div>
        <div class="form-group">
            <label>Course Duration</label>
            <InputText class="form-control" @bind-Value="Course.CourseDuration" />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </EditForm>
}