@page "/courses"
@page "/courses/list"
<div class="row">
    <div class="col-lg-9">
        <h2>Courses</h2>
    </div>
    <div class="col-lg-3 text-right">
        <a href="/courses/create" class="btn btn-success btn-sm" role="button">
            Add
            Course
        </a>
    </div>
</div>
@if (Courses != null && Courses.Count > 0)
{
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Course Duration</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Courses)
            {
                <tr>
                    <td>@c.Name</td>
                    <td>@c.CourseDuration</td>
                    <td>
                        <a href="/courses/detail/@c.Id" role="button" class="btn btnprimary btn-sm">Details</a>
                        <a href="/courses/edit/@c.Id" role="button" class="btn btnsecondary btn-sm">Edit</a>
                        <button @onclick="@(e=> DeleteCourse(c.Id))" role="button"
                                class="btn btn-danger btn-sm">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}